.custom-menu .ant-menu-item {
    transition: all 0.3s;
    background-color: black !important;
}

.custom-menu .ant-menu-item:hover {
    background-color: orange;

}

.custom-menu .ant-menu-item-selected {
    background-color: orange !important;

    color: white !important;
}

.custom-menu .ant-menu-item-selected a {
    color: white !important;
}