.custom-menu .ant-menu-item {
    transition: all 0.3s;
    background-color: black !important;
}

.custom-menu .ant-menu-item:hover {
    background-color: orange;

}

.custom-menu .ant-menu-item-selected {
    background-color: orange !important;

    color: white !important;
}

.custom-menu .ant-menu-item-selected a {
    color: white !important;
}

.custom-button {
    background-color: black !important;
    color: orange !important;
    border: 1px solid orange !important;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: orange !important;
    color: black !important;
}

/* .card-bg {
    background-image: url(/src/assets/images/LandingPage/landingShadow.svg);
} */