@import "tailwindcss";

@font-face {
    font-family: Mister;
    src: url(./assets/fonts/MisterDreamDemoRegular.ttf);
}

p,
div {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;

}

h1,
h2,
h3 {
    font-family: Mister;
}