@import "tailwindcss";

@font-face {
    font-family: Mister;
    src: url(./assets/fonts/MisterDreamDemoRegular.ttf);
}

p,
div {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;

}

h1,
h2,
h3 {
    font-family: Mister;
}

.hero {
    background-image: url(./assets/images/LandingPage/Vector.svg), url(./assets/images/LandingPage/landingShadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}