@import "tailwindcss";

@font-face {
    font-family: Mister;
    src: url(./assets/fonts/MisterDreamDemoRegular.ttf);
}

p,
div {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;

}

h1,
h2,
h3 {
    font-family: Mister;
}

.hero {
    background-image: url(./assets/images/LandingPage/Vector.svg), url(./assets/images/LandingPage/landingShadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.welcome {
    position: relative;
    background-image: url(./assets/images/welcomeSection/welcome.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust opacity for more or less fade */
}

.value-section {
    background-image: url(./assets/images/LandingPage/Vector.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.hover-underline {
    @apply text-gray-300 relative;
}

.hover-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #ff7b00;
    transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}